<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Expense Tracker</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/add">Add Expense</a>
        <a href="/view">View Expense</a>
    </nav>
    <div class="content">
        <h2>Welcome to Expense Tracker</h2>
        <p>Track your Expense easily and effectively hear!</p>
    </div>
</body>
</html>